@import '~compass-mixins/lib/compass/_css3.scss';
@import '~compass-mixins/lib/_animate.scss';

.group {

    .page3 {

        .itemWrapper {
            justify-content: center;
            align-items: center;
            background: #f5f5f5;
            width: 80%;
            height: 800px;
            overflow: hidden;
            position: relative;

            .rewardColor {
                color: #d41a1a;
            }

            .education-obj {
                font-size: 1rem;
                line-height: 1.5;

                .timeline {
                    margin: 5px auto;
                    position: relative;
                    max-width: 46em;
                    list-style-type: none;

                    &:before {
                        background-color: black;
                        content: '';
                        margin-left: -1px;
                        position: absolute;
                        top: 0;
                        left: 2em;
                        width: 2px;
                        height: 100%;
                    }
                }

                .timeline-event {
                    position: relative;

                    &:hover {

                        .timeline-event-icon {
                            @include transform (rotate(-45deg));
                            background-color: rgb(168, 50, 121);
                        }

                        .timeline-event-thumbnail {
                            @include box-shadow (inset 40em 0 0 0 rgb(168, 50, 121));
                        }
                    }
                }

                .timeline-event-copy {
                    margin: 30px 10px 0;
                    position: relative;
                    top: -1.875em;
                    left: 0;

                    h3 {
                        font-size: 1.75em;
                    }

                    h4 {
                        font-size: 1.2em;
                        margin-bottom: 1.2em;
                    }

                    strong {
                        font-weight: 700;
                    }
                }

                .timeline-event-icon {
                    @include transition (transform 0.2s ease-in);
                    @include transform (rotate(45deg));
                    background-color: black;
                    outline: 5px solid white;
                    display: block;
                    margin: 0.5em 0.5em 0.5em -0.5em;
                    position: absolute;
                    top: -1em;
                    left: -0.5em;
                    width: 1em;
                    height: 1em;
                }

                .timeline-event-thumbnail {
                    @include transition (box-shadow 0.5s ease-in 0.1s);
                    color: white;
                    font-size: 0.75em;
                    background-color: black;
                    @include box-shadow (inset 0 0 0 0em #ef795a);
                    display: inline-block;
                    margin-bottom: 1.2em;
                    padding: 0.25em 1em 0.2em 1em;
                    position: relative;
                    top: 7px;
                    left: 5px;
                }
            }

            .technique-obj {
                width: 60%;
                margin: 25px;

                .technique-diagram {
                    font-weight: bold;
                    text-align: center;

                    dt {
                        display: inline-block;
                        vertical-align: top;
                        border: 1px solid;
                        @include border-radius (50%);
                        transform: scale(1.2);
                        width: 2em;
                        height: 2em;
                        line-height: 2em;
                        @include transition (all .5s ease-out);

                        &:hover {
                            @include transform (scale(1.3));
                        }
                    }

                    .technique-1 {
                        width: 1em;
                        height: 1em;
                        line-height: 1em;
                        background-color: rgba(201, 155, 129, .3);
                        border-color: rgba(201, 155, 129, 1);
                        color: rgba(201, 155, 129, 1);
                        @include animation (bubbleAnimation 2s 0s ease-in infinite alternate);
                    }

                    .technique-2 {
                        width: 2em;
                        height: 2em;
                        line-height: 2em;
                        background-color: rgba(201, 155, 129, .3);
                        border-color: rgba(201, 155, 129, 1);
                        color: rgba(201, 155, 129, 1);
                        @include animation (bubbleAnimation 2s 0.2s ease-in infinite alternate);
                    }

                    .technique-3 {
                        vertical-align: middle;
                        width: 3em;
                        height: 3em;
                        line-height: 3em;
                        background-color: rgba(138, 138, 140, .3);
                        border-color: rgba(138, 138, 140, 1);
                        color: rgba(138, 138, 140, 1);
                        @include animation (bubbleAnimation 3s 0.3s ease-in infinite alternate);
                    }

                    .technique-4 {
                        width: 4em;
                        height: 4em;
                        line-height: 4em;
                        background-color: rgba(234, 112, 97, .3);
                        border-color: rgba(234, 112, 97, 1);
                        color: rgba(234, 112, 97, 1);
                        @include animation (bubbleAnimation 5s 0.5s ease-in infinite alternate);
                    }

                    .technique-5 {
                        vertical-align: bottom;
                        width: 5em;
                        height: 5em;
                        line-height: 5em;
                        background-color: rgba(109, 182, 173, .3);
                        border-color: rgba(109, 182, 173, 1);
                        color: rgba(109, 182, 173, 1);
                        @include animation (bubbleAnimation 3s 0.6s ease-in infinite alternate);
                    }

                    .technique-6 {
                        vertical-align: top;
                        width: 6em;
                        height: 6em;
                        line-height: 6em;
                        background-color: rgba(195, 192, 100, .3);
                        border-color: rgba(195, 192, 100, 1);
                        color: rgba(195, 192, 100, 1);
                        @include animation (bubbleAnimation 2s 0.5s ease-in infinite alternate);
                    }

                    .technique-7 {
                        width: 7em;
                        height: 7em;
                        line-height: 7em;
                        background-color: rgba(214, 89, 102, .3);
                        border-color: rgba(214, 89, 102, 1);
                        color: rgba(214, 89, 102, 1);
                        @include animation (bubbleAnimation 3s 0.6s ease-in infinite alternate);
                    }

                    .technique-8 {
                        vertical-align: bottom;
                        width: 8em;
                        height: 8em;
                        line-height: 8em;
                        background-color: rgba(46, 138, 75, .3);
                        border-color: rgba(46, 138, 75, 1);
                        color: rgba(46, 138, 75, 1);
                        @include animation (bubbleAnimation 2s 0.7s ease-in infinite alternate);
                    }

                    .technique-9 {
                        width: 10em;
                        height: 10em;
                        line-height: 10em;
                        background-color: rgba(177, 18, 2, .3);
                        border-color: rgba(177, 18, 2, 1);
                        color: rgba(177, 18, 2, 1);
                        @include animation (bubbleAnimation 3s 0.8s ease-in infinite alternate);
                    }

                    .technique-10 {
                        width: 10em;
                        height: 10em;
                        line-height: 10em;
                        background-color: rgba(81, 112, 144, .3);
                        border-color: rgba(81, 112, 144, 1);
                        color: rgba(81, 112, 144, 1);
                        @include animation (bubbleAnimation 3s ease-in infinite alternate);
                    }

                    @keyframes bubbleAnimation {
                        0% {
                            margin-top: -10px;
                        }
                        50% {
                            margin-top: 0;
                        }
                        100% {
                            margin-top: 10px;
                        }
                    }
                }
            }

        }
    }
}