html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Microsoft JhengHei', 'Microsoft JhengHei UI', 'Microsoft YaHei', 'Microsoft YaHei UI', 'Apple LiGothic', 'Heiti TC', 'LiHei Pro', Arial, 'PMingLiU', sans-serif;
}

.radio {
    position: absolute;
    opacity: 0;
}

.menu {
    width: 100%;
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    text-align: right;

    label {
        display: inline-block;
        padding: 6px 20px;
        color: #fff;
    }
}

.group {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
}

.group > div {
    width: 100%;
    height: 100%;
    position: absolute;
}

.page1 {
    left: 0;
    top: 0;
    background-color: #fcc;
}

.page2 {
    left: 100%;
    top: 0;
    background-color: #cfc;
}

.page3 {
    left: 0;
    top: 100%;
    background-color: #ccf;
}

.page4 {
    left: 100%;
    top: 100%;
    background-color: #ffc;
}

.page5 {
    left: 0;
    top: 200%;
    background-color: #cff;
}

.page6 {
    left: 100%;
    top: 200%;
    background-color: #fcf;
}

.page7 {
    left: 0;
    top: 300%;
    background-color: #cff;
}

.page8 {
    left: 100%;
    top: 300%;
    background-color: #fcf;
}

#tag1:checked ~ .group {
    left: 0;
    top: 0;
}

#tag2:checked ~ .group {
    left: -100%;
    top: 0;
}

#tag3:checked ~ .group {
    left: 0;
    top: -100%;
}

#tag4:checked ~ .group {
    left: -100%;
    top: -100%;
}

#tag5:checked ~ .group {
    left: 0;
    top: -200%;
}

#tag6:checked ~ .group {
    left: -100%;
    top: -200%;
}

#tag7:checked ~ .group {
    left: 0;
    top: -300%;
}

#tag8:checked ~ .group {
    left: -100%;
    top: -300%;
}