html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "Open Sans", "Trebuchet MS", "Comic Sans MS", "Constantia", 'Noto Sans TC', Arial, 'PMingLiU', sans-serif;

    a {
        text-decoration: none;
    }
}

.radio {
    position: absolute;
    opacity: 0;
}

.menu {
    width: 100%;
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    text-align: right;
    font-size: 1.2rem;

    label {
        display: inline-block;
        padding: 6px 20px;
        text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
        color: #fff;
        cursor: pointer;
        transition: .5s;

        &:hover {
            color: #f1d260;
        }
    }
}

.group {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
    outline: 1px solid red;

    .page {
        width: 100%;
        height: 100%;
        position: absolute;
        overflow-y: auto;

        .mask {
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            position: absolute;
            top: 0;
            z-index: 1;
            display: none;
            z-index: 100;
        }

        h1 {
            text-align: center;
            margin-top: 60px;
            font-size: 2.5rem;
        }

        .itemWrapper {
            max-width: 1800px;
            margin: auto;
            display: flex;
            justify-content: space-around;

            .item {
                box-sizing: border-box;
                width: 47%;
                padding: 1%;
                max-width: 700px;
                overflow: hidden;
                margin: 10px;
                background: #f5f5f5;
                text-align: center;
                line-height: 1.3;
                border-radius: 10px;
                font-size: 1.1rem;
                box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);

                h2 {
                    text-align: center;
                }

                a {
                    color: #000;
                }

                img {
                    width: 100%;
                }

                p {
                    text-align: left;
                    font-weight: 600;
                    margin-bottom: 30px;
                }
            }
        }
    }

    // Work Experiences
    .page2 {

        .timeline {
            margin-top: -80px;
        }

        .row-animation {
            position: relative;
            z-index: 1;
        }

        .row-animation {
            position: relative;
            z-index: 1;
        }

        .row-animation .column {
            position: relative;
            z-index: 2;
        }

        .row-animation .wgl-row_background {
            position: absolute;
            z-index: -1;
            top: 50%;
            left: 70%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        .time_line_vertical {
            position: relative;
            z-index: 1;
            padding: 70px 0;
        }

        .time_line_vertical:before {
            content: '';
            position: absolute;
            z-index: -1;
            height: 90%;
            width: 2px;
            left: 50%;
            margin-left: -1px;
            background: -webkit-linear-gradient(top, transparent 0%, rgba(63, 71, 103, 0.15) 100px, rgba(63, 71, 103, 0.15) calc(100% - 100px), transparent 100%);
        }

        .time_line_vertical.appear_anim .item .time_line-date {
            -webkit-transform: translateX(-20%);
            -moz-transform: translateX(-20%);
            -ms-transform: translateX(-20%);
            -o-transform: translateX(-20%);
            transform: translateX(-20%);
            opacity: 0;
        }

        .time_line_vertical.appear_anim .item .hexagon {
            opacity: 0;
        }

        .time_line_vertical.appear_anim .item .time_line-content {
            -webkit-transform: translateX(20%);
            -moz-transform: translateX(20%);
            -ms-transform: translateX(20%);
            -o-transform: translateX(20%);
            transform: translateX(20%);
            opacity: 0;
        }

        .time_line_vertical.appear_anim .item:nth-child(even) .time_line-date {
            -webkit-transform: translateX(20%);
            -moz-transform: translateX(20%);
            -ms-transform: translateX(20%);
            -o-transform: translateX(20%);
            transform: translateX(20%);
        }

        .time_line_vertical.appear_anim .item:nth-child(even) .time_line-content {
            -webkit-transform: translateX(-20%);
            -moz-transform: translateX(-20%);
            -ms-transform: translateX(-20%);
            -o-transform: translateX(-20%);
            transform: translateX(-20%);
        }

        .time_line_vertical .item {
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -moz-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-transition: opacity 0.5s;
            -o-transition: opacity 0.5s;
            -moz-transition: opacity 0.5s;
            transition: opacity 0.5s;
        }

        .time_line_vertical .item:last-child {
            margin-bottom: 0;
        }

        .time_line_vertical .item:nth-child(even) {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: reverse;
            -webkit-flex-direction: row-reverse;
            -moz-box-orient: horizontal;
            -moz-box-direction: reverse;
            -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
        }

        .time_line_vertical .item:nth-child(even) .date_wrap {
            margin-right: -webkit-calc(50% - 10px);
            margin-right: -moz-calc(50% - 10px);
            margin-right: calc(50% - 10px);
            margin-left: 50px;
        }

        .time_line_vertical .item:nth-child(even) .time_line-date {
            right: auto;
            left: 100%;
            padding-left: 50px;
            padding-right: 0;
        }

        .time_line_vertical .item:nth-child(even) .time_line-image {
            left: 0;
            right: auto;
        }

        .time_line_vertical .item:nth-child(even) .time_line-content:before {
            left: auto;
            right: 0;
        }

        .time_line_vertical .item:nth-child(even) .hexagon {
            left: auto;
            right: 0;
        }

        .time_line_vertical .item.item_active .hexagon:nth-child(2) {
            -webkit-transform: scale(2);
            -moz-transform: scale(2);
            -ms-transform: scale(2);
            -o-transform: scale(2);
            transform: scale(2);
        }

        .time_line_vertical .item.item_show .time_line-content, .time_line_vertical .item.item_show:nth-child(even) .time_line-content {
            opacity: 1;
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            -o-transform: translateX(0);
            transform: translateX(0);
        }

        .time_line_vertical .item.item_show .hexagon, .time_line_vertical .item.item_show:nth-child(even) .hexagon {
            opacity: 1;
        }

        .time_line_vertical .item.item_show .time_line-date, .time_line_vertical .item.item_show:nth-child(even) .time_line-date {
            opacity: 1;
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            -o-transform: translateX(0);
            transform: translateX(0);
        }

        .time_line_vertical .hexagon:first-child {
            position: relative;
            z-index: 0;
        }

        .time_line_vertical .hexagon:nth-child(2) svg {
            fill: #ffffff !important;
        }

        .time_line_vertical {

            .date_wrap {
                position: relative;
                z-index: 1;
                margin-left: -webkit-calc(50% - 10px);
                margin-left: -moz-calc(50% - 10px);
                margin-left: calc(50% - 10px);
                margin-right: 50px;
            }

            .hexagon {
                height: 22px;
                width: 20px;
                -webkit-transition: opacity 0.8s;
                -o-transition: opacity 0.8s;
                -moz-transition: opacity 0.8s;
                transition: opacity 0.8s;
                position: absolute;
                top: 0;
                z-index: -1;
            }
            .time_line-date {
                position: absolute;
                z-index: 1;
                top: 0;
                right: 100%;
                padding-right: 50px;
                font-size: 24px;
                font-weight: 700;
                line-height: 20px;
                white-space: nowrap;
                -webkit-transition: 0.3s;
                -o-transition: 0.3s;
                -moz-transition: 0.3s;
                transition: 0.3s;
            }

            .time_line-content {
                position: relative;
                z-index: 1;
                padding: 20px;
                width: 100%;
                max-width: 650px;
                -webkit-box-shadow: 7px 5px 30px 0 rgba(72, 73, 121, 0.15);
                -moz-box-shadow: 7px 5px 30px 0 rgba(72, 73, 121, 0.15);
                box-shadow: 7px 5px 30px 0 rgba(72, 73, 121, 0.15);
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
                background: #ffffff;
                overflow: hidden;
                -webkit-transition: 0.4s;
                -o-transition: 0.4s;
                -moz-transition: 0.4s;
                transition: 0.4s;

                &:before {
                    content: '';
                    position: absolute;
                    z-index: 1;
                    width: 4px;
                    height: 100%;
                    left: 0;
                    top: 0;
                }
            }

            .time_line-image {
                position: absolute;
                z-index: -1;
                right: 0;
                top: 0;
            }

            .title {
                font-size: 1rem;
                margin: auto auto 10px;
            }

            .desc {
                line-height: 24px;
            }
        }

        .time_line_vertical .item:hover .time_line-content {
            -webkit-transform: translateX(5px);
            -moz-transform: translateX(5px);
            -ms-transform: translateX(5px);
            -o-transform: translateX(5px);
            transform: translateX(5px);
            background: white;
        }

        .time_line_vertical .item:hover .time_line-date {
            -webkit-transform: translateX(-5px);
            -moz-transform: translateX(-5px);
            -ms-transform: translateX(-5px);
            -o-transform: translateX(-5px);
            transform: translateX(-5px);
        }

        .time_line_vertical .item:hover:nth-child(even) .time_line-content {
            -webkit-transform: translateX(-5px);
            -moz-transform: translateX(-5px);
            -ms-transform: translateX(-5px);
            -o-transform: translateX(-5px);
            transform: translateX(-5px);
        }

        .time_line_vertical .item:hover:nth-child(even) .time_line-date {
            -webkit-transform: translateX(5px);
            -moz-transform: translateX(5px);
            -ms-transform: translateX(5px);
            -o-transform: translateX(5px);
            transform: translateX(5px);
        }

        .time_line_vertical .item:hover.item_active .hexagon:nth-child(2) {
            -webkit-animation: pulse_hexagon_active 2s infinite;
            -moz-animation: pulse_hexagon_active 2s infinite;
            -o-animation: pulse_hexagon_active 2s infinite;
            animation: pulse_hexagon_active 2s infinite;
        }

        .time_line_vertical .item:hover .hexagon:nth-child(2) {
            -webkit-animation: pulse_hexagon 2s infinite;
            -moz-animation: pulse_hexagon 2s infinite;
            -o-animation: pulse_hexagon 2s infinite;
            animation: pulse_hexagon 2s infinite;
        }

        @-webkit-keyframes pulse_hexagon {
            0% {
                -webkit-transform: scale(1);
                transform: scale(1);
            }
            70% {
                -webkit-transform: scale(2);
                transform: scale(2);
            }
            100% {
                -webkit-transform: scale(1);
                transform: scale(1);
            }
        }

        @-moz-keyframes pulse_hexagon {
            0% {
                -moz-transform: scale(1);
                transform: scale(1);
            }
            70% {
                -moz-transform: scale(2);
                transform: scale(2);
            }
            100% {
                -moz-transform: scale(1);
                transform: scale(1);
            }
        }

        @-o-keyframes pulse_hexagon {
            0% {
                -o-transform: scale(1);
                transform: scale(1);
            }
            70% {
                -o-transform: scale(2);
                transform: scale(2);
            }
            100% {
                -o-transform: scale(1);
                transform: scale(1);
            }
        }

        @keyframes pulse_hexagon {
            0% {
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                -o-transform: scale(1);
                transform: scale(1);
            }
            70% {
                -webkit-transform: scale(2);
                -moz-transform: scale(2);
                -o-transform: scale(2);
                transform: scale(2);
            }
            100% {
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                -o-transform: scale(1);
                transform: scale(1);
            }
        }

        @-webkit-keyframes pulse_hexagon_active {
            0% {
                -webkit-transform: scale(2);
                transform: scale(2);
            }
            30% {
                -webkit-transform: scale(1);
                transform: scale(1);
            }
            100% {
                -webkit-transform: scale(2);
                transform: scale(2);
            }
        }

        @-moz-keyframes pulse_hexagon_active {
            0% {
                -moz-transform: scale(2);
                transform: scale(2);
            }
            30% {
                -moz-transform: scale(1);
                transform: scale(1);
            }
            100% {
                -moz-transform: scale(2);
                transform: scale(2);
            }
        }

        @-o-keyframes pulse_hexagon_active {
            0% {
                -o-transform: scale(2);
                transform: scale(2);
            }
            30% {
                -o-transform: scale(1);
                transform: scale(1);
            }
            100% {
                -o-transform: scale(2);
                transform: scale(2);
            }
        }

        @keyframes pulse_hexagon_active {
            0% {
                -webkit-transform: scale(2);
                -moz-transform: scale(2);
                -o-transform: scale(2);
                transform: scale(2);
            }
            30% {
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                -o-transform: scale(1);
                transform: scale(1);
            }
            100% {
                -webkit-transform: scale(2);
                -moz-transform: scale(2);
                -o-transform: scale(2);
                transform: scale(2);
            }
        }

        #time_line_1 {

            .time_line-date {
                color: #ffa705;
            }

            .time_line-content:before {
                background: #ffa705;
            }
        }

        #time_line_2 {
            .time_line-date {
                color: #ff5600;
            }

            .time_line-content:before {
                background: #ff5600;
            }
        }

        #time_line_3 {
            .time_line-date {
                color: #69e9f2;
            }

            .time_line-content:before {
                background: #69e9f2;
            }
        }

        #time_line_4 {
            .time_line-date {
                color: #12affe;
            }

            .time_line-content:before {
                background: #12affe;
            }
        }
    }

    // Education
    .page3 {

        .itemWrapper {
            justify-content: center;
            outline: 1px solid red;

            .item {
                background: #eee;
                max-width: 60%;
            }

            .education-item {
                width: 40%;

                .timeline {
                    margin: 5px auto;
                    position: relative;
                    max-width: 46em;
                    list-style-type:none;

                    &:before {
                        background-color: black;
                        content: '';
                        margin-left: -1px;
                        position: absolute;
                        top: 0;
                        left: 2em;
                        width: 2px;
                        height: 100%;
                    }
                }

                .timeline-event {
                    position: relative;

                    &:hover {

                        .timeline-event-icon {
                            transform: rotate(-45deg);
                            background-color: rgb(168, 50, 121);
                        }

                        .timeline-event-thumbnail {
                            box-shadow: inset 40em 0 0 0 rgb(168, 50, 121);
                        }
                    }
                }

                .timeline-event-copy {
                    margin: 30px 10px 0px;
                    position: relative;
                    top: -1.875em;
                    left: 0em;

                    h3 {
                        font-size: 1.75em;
                    }

                    h4 {
                        font-size: 1.2em;
                        margin-bottom: 1.2em;
                    }

                    strong {
                        font-weight: 700;
                    }

                    p:not(.timeline-event-thumbnail) {
                        padding-bottom: 1.2em;
                    }
                }

                .timeline-event-icon {
                    transition : transform 0.2s ease-in;
                    transform: rotate(45deg);
                    background-color: black;
                    outline: 5px solid white;
                    display: block;
                    margin: 0.5em 0.5em 0.5em -0.5em;
                    position: absolute;
                    top: -1em;
                    left: -0.3em;
                    width: 1em;
                    height: 1em;
                }

                .timeline-event-thumbnail {
                    transition:box-shadow 0.5s ease-in 0.1s;
                    color: white;
                    font-size: 0.75em;
                    background-color: black;
                    box-shadow:inset 0 0 0 0em #ef795a;
                    display: inline-block;
                    margin-bottom: 1.2em;
                    padding: 0.25em 1em 0.2em 1em;
                }
            }

            .skill-item {
                width: 60%;

                .radar {
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: space-around;

                    .diagram {
                        width: 100%;
                        height: 450px;
                    }

                    .newTip {
                        min-width: 8em;
                        text-align: center;
                    }

                    .newTip big {
                        font-size: 10pt;
                        font-weight: bold;
                    }
                }

                .technique {
                    flex: 2;

                    .technique-diagram > dd {
                        display: none;
                    }

                    .technique-diagram {
                        font-size: 16px;
                        font-weight: bold;
                        text-align: center;
                        max-width: 35em;
                        margin: 2em auto 2em;

                        dt {
                            display: inline-block;
                            vertical-align: top;
                            border: 1px solid;
                            border-radius: 50%;
                            -webkit-transform: scale(1.2);
                            -moz-transform: scale(1.2);
                            -o-transform: scale(1.2);
                            -ms-transform: scale(1.2);
                            transform: scale(1.2);
                            width: 2em;
                            height: 2em;
                            line-height: 2em;
                            transition: all .5s ease-out;

                            &:hover {
                                -webkit-transform: scale(1.3);
                                -moz-transform: scale(1.3);
                                -o-transform: scale(1.3);
                                -ms-transform: scale(1.3);
                                transform: scale(1.3);
                            }
                        }

                        .technique-2 {
                            width: 2em;
                            height: 2em;
                            line-height: 2em;
                            background-color: rgba(201, 155, 129, .3);
                            border-color: rgba(201, 155, 129, 1);
                            color: rgba(201, 155, 129, 1);
                        }

                        .technique-3 {
                            vertical-align: middle;
                            width: 3em;
                            height: 3em;
                            line-height: 3em;
                            background-color: rgba(138, 138, 140, .3);
                            border-color: rgba(138, 138, 140, 1);
                            color: rgba(138, 138, 140, 1);
                        }

                        .technique-4 {
                            width: 4em;
                            height: 4em;
                            line-height: 4em;
                            background-color: rgba(234, 112, 97, .3);
                            border-color: rgba(234, 112, 97, 1);
                            color: rgba(234, 112, 97, 1);
                        }

                        .technique-5 {
                            vertical-align: bottom;
                            width: 5em;
                            height: 5em;
                            line-height: 5em;
                            background-color: rgba(109, 182, 173, .3);
                            border-color: rgba(109, 182, 173, 1);
                            color: rgba(109, 182, 173, 1);
                        }

                        .technique-6 {
                            vertical-align: top;
                            width: 6em;
                            height: 6em;
                            line-height: 6em;
                            background-color: rgba(195, 192, 100, .3);
                            border-color: rgba(195, 192, 100, 1);
                            color: rgba(195, 192, 100, 1);
                        }

                        .technique-7 {
                            width: 7em;
                            height: 7em;
                            line-height: 7em;
                            background-color: rgba(214, 89, 102, .3);
                            border-color: rgba(214, 89, 102, 1);
                            color: rgba(214, 89, 102, 1);
                        }

                        .technique-8 {
                            vertical-align: bottom;
                            width: 8em;
                            height: 8em;
                            line-height: 8em;
                            background-color: rgba(46, 138, 75, .3);
                            border-color: rgba(46, 138, 75, 1);
                            color: rgba(46, 138, 75, 1);
                        }

                        .technique-9 {
                            width: 11em;
                            height: 11em;
                            line-height: 11em;
                            background-color: rgba(177, 18, 2, .3);
                            border-color: rgba(177, 18, 2, 1);
                            color: rgba(177, 18, 2, 1);
                        }

                        .technique-10 {
                            width: 14em;
                            height: 14em;
                            line-height: 14em;
                            background-color: rgba(81, 112, 144, .3);
                            border-color: rgba(81, 112, 144, 1);
                            color: rgba(81, 112, 144, 1);
                        }

                    }
                }

            }
        }
    }

    // Autobiography
    .page7 {

        .itemWrapper {

            .item {
                width: 50%;
                text-align: left;

                .role {
                    color: #f00;
                }

                iframe {
                    width: 100%;
                    height: 70vh;
                }
            }
        }
    }

    // Project2
    .page9 {

        .itemWrapper {

            .item {

                img {
                    width: 95%;
                }
            }

        }
    }

    // Project3
    .page10 {

        .itemWrapper {

            .item {

                img {
                    width: 95%;
                }
            }

        }
    }

    // Interests
    .page11 {
        text-align: center;

        .subTitle {
            font-size: 1.7rem;
        }

        #hexGrid {
            display: flex;
            flex-wrap: wrap;
            width: 95%;
            margin: -5px auto auto;
            list-style-type: none;
            padding-bottom: 10%;
            font-size: 1.2rem;
            overflow: hidden;
            padding-inline-start: 0px;

            .hex {
                position: relative;
                visibility: hidden;
                transition: all 0.5s;
                backface-visibility: hidden;
                will-change: transform;

                &:after {
                    content: '';
                    display: block;
                    padding-bottom: 86.602%;
                }

                & .title:before,
                & .title:after {
                    content: '';
                    display: inline-block;
                    margin: 0 0.5em;
                    width: 0.25em;
                    height: 0.03em;
                    background: #fff;
                    vertical-align: middle;
                    transition: all 0.3s;
                    text-align: center;
                }
            }
        }

        .hexIn {
            position: absolute;
            width: 96%;
            padding-bottom: 110.851%;
            margin: 2%;
            overflow: hidden;
            visibility: hidden;
            transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
            transition: all 0.5s;

            & * {
                position: absolute;
                visibility: visible;
                outline: 1px solid transparent;
            }

            .hexLink {
                display: block;
                width: 100%;
                height: 100%;
                text-align: center;
                color: #fff;
                overflow: hidden;
                transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);

                .img {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    width: auto;
                    height: 100%;
                    margin: 0 auto;
                    background-position: center center;
                    background-size: cover;
                    overflow: hidden;
                    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

                    &:before,
                    &:after {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        content: '';
                        opacity: 0;
                        transition: opacity 0.5s;
                    }

                    &:before {
                        background: rgba(22, 103, 137, 0.3)
                    }

                    &:after {
                        background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.5), transparent);
                    }
                }

                .title,
                .desc {
                    width: 100%;
                    padding: 5%;
                    box-sizing: border-box;
                    font-weight: 300;
                    opacity: 0;
                }

                .title {
                    color: #f8fbfb;
                    bottom: 50%;
                    padding-top: 50%;
                    font-size: 1.2em;
                    z-index: 1;
                }

                .desc {
                    top: 40%;
                    line-height: 1.5;
                }
            }
        }

        .hexLink:hover .title, .hexLink:focus .title,
        .hexLink:hover .desc, .hexLink:focus .desc {
            opacity: 1;
            transition: 0.8s;
        }

        .hexIn:hover .img:before,
        .hexIn:hover .img:after,
        .hexIn:hover .hexLink {
            opacity: 1;
        }
    }

}

// Contact Me
.page1 {
    left: 0;
    top: 0;
    background-color: #7fc5ff;
}

// Work Experiences
.page2 {
    left: 100%;
    top: 0;
    background-color: #149468;
}

// Education
.page3 {
    left: 0;
    top: 100%;
    background-color: #dbb2ec;
}

// Autobiography
.page7 {
    left: 100%;
    top: 100%;
    background-color: #7fc5ff;
}

// Project1
.page8 {
    left: 0;
    top: 200%;
    background-color: #ec5d53;
}

// Project2
.page9 {
    left: 100%;
    top: 200%;
    background-color: #44af78;
}

// Project3
.page10 {
    left: 0;
    top: 300%;
    background-color: #4bafbf;
}

// Interests
.page11 {
    left: 100%;
    top: 300%;
    background-color: #bf2354;
}

// Contact Me
#tag1:checked ~ .group {
    left: 0;
    top: 0;
}

// Work Experiences
#tag2:checked ~ .group {
    left: -100%;
    top: 0;
}

#tag3:checked ~ .group {
    left: 0;
    top: -100%;
}

#tag4:checked ~ .group {
    left: 0;
    top: -100%;
}

#tag5:checked ~ .group {
    left: 0;
    top: -100%;
}

#tag6:checked ~ .group {
    left: 0;
    top: -100%;
}

#tag7:checked ~ .group {
    left: -100%;
    top: -100%;
}

// Project1
#tag8:checked ~ .group {
    left: 0;
    top: -200%;
}

// Project2
#tag9:checked ~ .group {
    left: -100%;
    top: -200%;
}

// Project3
#tag10:checked ~ .group {
    left: 0%;
    top: -300%;
}

// Interests
#tag11:checked ~ .group {
    left: -100%;
    top: -300%;
}

// Back to home
.backToTop {
    position: fixed;
    bottom: 12px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: #565252;
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    color: #fff;
    opacity: 1;

    .triangle {
        width: 10px;
        height: 10px;
        border-right: 3px solid;
        border-bottom: 3px solid;
        transform: rotate(225deg);
        margin: 15px auto auto;
        position: absolute;
        top: 6px;
        left: 19px;
    }

    & > div {
        transition: all 0.3s ease-in-out;

        &.text {
            text-transform: uppercase;
            font-weight: 900;
            font-size: 0.5rem;
            position: absolute;
            transform: translateY(50%) translateX(-50%);
            margin-top: 1px;
            left: 50%;
            top: 50%;
            opacity: 0;
        }
    }

    &:hover {
        transform: scale(1.1);
        bottom: 20px;
        cursor: pointer;
        background: darken(#222, 15%);
        box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);

        & > div {
            &.triangle {
                opacity: 0;
            }
            &.text {
                transform: translateY(-50%) translateX(-50%);
                opacity: 1;
            }
        }
    }
}

// Mobile
@media (max-width: 600px) {

    .group {
        .page11 {

            .subTitle {
                font-size: 1.3rem;
            }
        }
    }

    .hex {
        width: 50%;
    }

    .hex:nth-child(3n+3) {
        margin-left: 25%;
    }
}

@media screen and (max-width: 767px) {

    .group {

        .page2 {

            .timeline {
                width: 90%;
                margin: -60px auto auto;

                .time_line-content {
                    margin-bottom: 10px;
                }
            }

            .time_line_vertical:before {
                left: 45px;
            }

            .time_line_vertical {

                .date_wrap {
                    margin-left: 35px !important;
                    margin-right: 35px !important;
                }

                .time_line-date {
                    padding: 0 !important;
                    right: 100% !important;
                    left: auto !important;
                    -webkit-transform: rotate3d(0, 0, 1, -90deg) !important;
                    -moz-transform: rotate3d(0, 0, 1, -90deg) !important;
                    transform: rotate3d(0, 0, 1, -90deg) !important;
                }

                .time_line-content {
                    text-align: left !important;

                    &:before {
                        left: 0 !important;
                        right: auto !important;
                    }
                }
            }

            .time_line_vertical.appear_anim {

                .time_line-date {
                    -webkit-transform: translateX(-20%) rotate3d(0, 0, 1, -90deg) !important;
                    -moz-transform: translateX(-20%) rotate3d(0, 0, 1, -90deg) !important;
                    transform: translateX(-20%) rotate3d(0, 0, 1, -90deg) !important;
                }

                .time_line-content {
                    -webkit-transform: translateX(20%) !important;
                    -moz-transform: translateX(20%) !important;
                    -ms-transform: translateX(20%) !important;
                    -o-transform: translateX(20%) !important;
                    transform: translateX(20%) !important;
                }

                .item.item_show .time_line-date {
                    -webkit-transform-origin: top;
                    -moz-transform-origin: top;
                    -ms-transform-origin: top;
                    -o-transform-origin: top;
                    transform-origin: top;
                    -webkit-transform: translate(15px, -9px) rotate3d(0, 0, 1, -90deg) !important;
                    -moz-transform: translate(15px, -9px) rotate3d(0, 0, 1, -90deg) !important;
                    transform: translate(15px, -9px) rotate3d(0, 0, 1, -90deg) !important;
                    width: 100px;
                    white-space: normal;
                }

                .item.item_show .time_line-content {
                    -webkit-transform: translateX(0) !important;
                    -moz-transform: translateX(0) !important;
                    -ms-transform: translateX(0) !important;
                    -o-transform: translateX(0) !important;
                    transform: translateX(0) !important;
                }

            }

            .time_line_vertical .time_line-content,
            .time_line_vertical .item {
                -webkit-box-orient: horizontal !important;
                -webkit-box-direction: normal !important;
                -webkit-flex-direction: row !important;
                -moz-box-orient: horizontal !important;
                -moz-box-direction: normal !important;
                -ms-flex-direction: row !important;
                flex-direction: row !important;
            }

            .time_line_vertical .item:hover .time_line-content {
                -webkit-transform: translateX(5px) !important;
                -moz-transform: translateX(5px) !important;
                -ms-transform: translateX(5px) !important;
                -o-transform: translateX(5px) !important;
                transform: translateX(5px) !important;
            }

            .time_line_vertical .item.item_show:hover .time_line-content {
                -webkit-transform: translateX(5px) !important;
                -moz-transform: translateX(5px) !important;
                -ms-transform: translateX(5px) !important;
                -o-transform: translateX(5px) !important;
                transform: translateX(5px) !important;
            }
        }

        .page11 {

            #hexGrid {
                font-size: 0.7rem;
                overflow: scroll;

                .desc {
                    font-size: 0.8rem;
                }
            }
        }
    }

    .group {

        .page {

            h1 {
                margin-top: 15px;
                font-size: 1.8rem;
            }

            .itemWrapper {
                flex-wrap: wrap;

                .item {
                    width: 90%;
                    padding: 3%;
                    font-size: 1rem;
                    margin: -10px auto 20px;

                    h2 {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }

    .backToTop {
        display: none;
    }
}

@media (min-width: 601px) and (max-width: 900px) {

    .group .page11 #hexGrid {
        font-size: 0.8rem;
    }

    .hex {
        width: 33.333%;
    }

    .hex:nth-child(5n+4) {
        margin-left: 16.666%;
    }
}

@media (min-width: 901px) and (max-width: 1200px) {

    .group .page2 .time_line_vertical .time_line-content {
        max-width: 450px;
    }

    .group .page11 #hexGrid {
        font-size: 0.9rem;
    }

    .hex {
        width: 25%;
    }

    .hex:nth-child(7n+5) {
        margin-left: 12.5%;
    }
}

@media screen and (max-width: 1250px) {

    .group .page2 .time_line_vertical .time_line-content {
        max-width: 450px;
    }

    .mobileMenuBtn {
        width: 35px;
        height: 35px;
        border: 3px solid #f5f5f5;
        border-radius: 2px;
        position: absolute;
        top: 10px;
        left: 9px;
        z-index: 99;

        span {
            width: 30px;
            height: 3px;
            background: #f5f5f5;
            position: absolute;
            top: 6px;
            left: 2.5px;
        }

        & :nth-child(2) {
            top: 16px;
        }

        & :last-child {
            top: 26px;
        }
    }

    .mobileMenu {
        display: flex;
        flex-wrap: wrap;
        width: 70%;
        left: -1000px;
        text-align: left;
        background: #f5f5f5;
        z-index: 101;

        & :nth-child(2) {
            margin-top: 45px;
        }

        & :last-child {
            padding-bottom: 100vh;
        }

        .close {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 32px;
            height: 32px;
            opacity: 0.3;

            &:before, &:after {
                position: absolute;
                left: 15px;
                content: ' ';
                height: 33px;
                width: 3px;
                background-color: #333;
            }

            &:before {
                transform: rotate(45deg);
            }

            &:after {
                transform: rotate(-45deg);
            }
        }

        label {
            width: 70%;
            height: 30px;
            padding: 6px 30px;
            color: #000;
            text-shadow: none;
        }

    }
}

@media (min-width: 1201px) {

    .hex {
        width: 20%;
    }

    .hex:nth-child(9n+6) {
        margin-left: 10%;
    }
}

// For js
.disable {
    pointer-events: none;
}

.menuColor {
    color: #f1d260 !important;
}