@import '~compass-mixins/lib/compass/_css3.scss';
@import '~compass-mixins/lib/_animate.scss';

html, body {
    width: 100%;
    height: 100%;
    font-family: "Open Sans", "Trebuchet MS", "Comic Sans MS", "Constantia", 'Noto Sans TC', Arial, 'PMingLiU', sans-serif;

    a {
        text-decoration: none;
    }

    textarea:focus, input:focus {
        outline: none;
    }
}

.radio {
    position: absolute;
    @include opacity (0);
}

.menu {
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    text-align: right;
    font-size: 1.2rem;

    label {
        display: inline-block;
        padding: 6px 20px;
        @include text-shadow(2px 2px 1px rgba(0, 0, 0, 0.5));
        color: #fff;
        cursor: pointer;
        @include transition (.5s);

        &:hover {
            color: #f1d260;
        }

        a {
            color: #fff;
        }
    }
}

.group {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    @include transition(1s);

    &.mobile {
        overflow-y: scroll;

        .page {
            position: unset;
            height: auto;
        }
    }

    .page {
        width: 100%;
        height: 100%;
        padding-bottom: 5%;
        overflow-y: auto;

        .mask {
            width: 100%;
            height: 100vh;
            background: rgba(0, 0, 0, 0.2);
            position: fixed;
            top: 0;
            display: none;
            z-index: 100;
        }

        h1 {
            text-align: center;
            margin-top: 60px;
            font-size: 2.5rem;
        }

        .itemWrapper {
            max-width: 1800px;
            margin: auto;
            display: flex;
            justify-content: space-around;

            .item {
                box-sizing: border-box;
                width: 50%;
                padding: 1%;
                max-width: 700px;
                overflow: hidden;
                margin: 10px;
                background: #f5f5f5;
                text-align: center;
                line-height: 1.3;
                @include border-radius(10px);
                font-size: 1.1rem;
                @include box-shadow (5px 5px 5px rgba(0, 0, 0, 0.3));

                h2 {
                    text-align: center;
                }

                a {
                    color: #000;
                }

                img {
                    width: 100%;
                }

                p {
                    text-align: left;
                    font-weight: 600;
                    margin-bottom: 30px;
                }
            }
        }
    }
}

// About Me
.page1 {
    background-color: #7fc5ff;
}

// Work Experiences
.page2 {
    background-color: #149468;
}

// Education & Skills
.page3 {
    background-color: #b58dbd;
}

// Projects
.page4 {
    background-color: #ec9018;
}

// Interests
.page5 {
    background-color: #bf2354;
}

.page6 {
    background-color: #22b193;
}

// For js
.disable {
    pointer-events: none;
}

.menuColor {
    color: #f1d260 !important;
}