html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "Open Sans", "Trebuchet MS", "Comic Sans MS", "Constantia", 'Noto Sans TC', Arial, 'PMingLiU', sans-serif;

    a {
        text-decoration: none;
    }
}

.radio {
    position: absolute;
    opacity: 0;
}

.menu {
    width: 100%;
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    text-align: right;
    font-size: 1.2rem;

    label {
        display: inline-block;
        padding: 6px 20px;
        color: #fff;
        cursor: pointer;
        transition: .5s;

        &:hover {
            color: #ffccff;
        }
    }
}

.group {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
    outline: 1px solid red;

    .page {
        width: 100%;
        height: 100%;
        position: absolute;

        .mask {
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            position: absolute;
            top: 0;
            z-index: 1;
            display: none;
        }

        h1 {
            text-align: center;
            margin-top: 60px;
            font-size: 2.5rem;
        }

        .itemWrapper {
            max-width: 1800px;
            margin: auto;
            display: flex;
            justify-content: space-around;

            .item {
                box-sizing: border-box;
                width: 47%;
                padding: 1%;
                max-width: 800px;
                overflow: hidden;
                margin: 10px;
                background: #f5f5f5;
                text-align: center;
                line-height: 1.3;
                border-radius: 10px;
                font-size: 1.1rem;
                box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);

                h2 {
                    text-align: center;
                }

                a {
                    color: #000;
                }

                img {
                    width: 100%;
                }

                p {
                    text-align: left;
                    font-weight: 600;
                }
            }
        }
    }

    // Autobiography
    .page6 {

        .itemWrapper {

            .item {
                width: 50%;
                text-align: left;

                iframe {
                    width: 100%;
                    height: 70vh;
                }
            }
        }
    }

    // Project2
    .page8 {

        .itemWrapper {

            .item {

                img {
                    width: 95%;
                }
            }

        }
    }

    // Project3
    .page9 {

        .itemWrapper {

            .item {

                img {
                    width: 95%;
                }
            }

        }
    }

    // Interests
    .page10{

        #hexGrid {
            display: flex;
            flex-wrap: wrap;
            width: 90%;
            margin: 0 auto;
            overflow: hidden;
            font-family: sans-serif;
            list-style-type: none;

            .hex {
                position: relative;
                visibility: hidden;
                outline: 1px solid transparent;
                transition: all 0.5s;
                backface-visibility: hidden;
                will-change: transform;

                &:after {
                    content: '';
                    display: block;
                    padding-bottom: 86.602%;
                }

                & .title:before,
                & .title:after {
                    display: inline-block;
                    margin: 0 0.5em;
                    width: 0.25em;
                    height: 0.03em;
                    background: #ffffff;
                    content: '';
                    vertical-align: middle;
                    transition: all 0.3s;
                    text-align: center;
                }
            }
        }

        .hexIn {
            position: absolute;
            width: 96%;
            padding-bottom: 110.851%;
            margin: 2%;
            overflow: hidden;
            visibility: hidden;
            outline: 1px solid transparent;
            -webkit-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
            -ms-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
            transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
            transition: all 0.5s;

            & * {
                position: absolute;
                visibility: visible;
                outline: 1px solid transparent; /* fix for jagged edges in FF on hover transition */
            }

            .hexLink {
                display: block;
                width: 100%;
                height: 100%;
                text-align: center;
                color: #fff;
                overflow: hidden;
                -webkit-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
                -ms-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
                transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);

                .img {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    width: auto;
                    height: 100%;
                    margin: 0 auto;
                    background-position: center center;
                    background-size: cover;
                    overflow: hidden;
                    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

                    &:before,
                    &:after {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        content: '';
                        opacity: 0;
                        transition: opacity 0.5s;
                    }

                    &:before {
                        background: rgba(22, 103, 137, 0.3)
                    }

                    &:after {
                        background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.5), transparent);
                    }
                }

                .title,
                .desc {
                    width: 100%;
                    padding: 5%;
                    box-sizing: border-box;
                    font-weight: 300;
                    opacity: 0;
                }

                .title {
                    color: #F5CE95;
                    text-transform: capitalize;
                    text-align: center;
                    bottom: 50%;
                    padding-top: 50%;
                    font-size: 1.5em;
                    z-index: 1;
                }

                .desc {
                    top: 50%;
                    text-align: center;
                    text-transform: uppercase;
                }
            }
        }

        .hexLink:hover .title, .hexLink:focus .title,
        .hexLink:hover .desc, .hexLink:focus .desc {
            opacity: 1;
            transition: 0.8s;
        }

        .hexIn:hover .img:before,
        .hexIn:hover .img:after,
        .hexIn:hover .hexLink {
            opacity: 1;
        }
    }
}

.page1 {
    left: 0;
    top: 0;
    background-color: #fcc;
}

.page2 {
    left: 100%;
    top: 0;
    background-color: #cfc;
}

.page3 {
    left: 0;
    top: 100%;
    background-color: #ccf;
}

.page4 {
    left: 100%;
    top: 100%;
    background-color: #ffc;
}

.page5 {
    left: 0;
    top: 200%;
    background-color: #cff;
}

// Autobiography
.page6 {
    left: 100%;
    top: 200%;
    background-color: #ec892a;
}

// Project1
.page7 {
    left: 0;
    top: 300%;
    background-color: #7fc5ff;
}

// Project2
.page8 {
    left: 100%;
    top: 300%;
    background-color: #ec5d53;
}

// Project3
.page9 {
    left: 0;
    top: 400%;
    background-color: #44af78;
}

// Interests
.page10 {
    left: 100%;
    top: 400%;
    background-color: #dafaff;
}

#tag1:checked ~ .group {
    left: 0;
    top: 0;
}

#tag2:checked ~ .group {
    left: -100%;
    top: 0;
}

#tag3:checked ~ .group {
    left: 0;
    top: -100%;
}

#tag4:checked ~ .group {
    left: -100%;
    top: -100%;
}

#tag5:checked ~ .group {
    left: 0;
    top: -200%;
}

#tag6:checked ~ .group {
    left: -100%;
    top: -200%;
}

#tag7:checked ~ .group {
    left: 0;
    top: -300%;
}

#tag8:checked ~ .group {
    left: -100%;
    top: -300%;
}

#tag9:checked ~ .group {
    left: 0;
    top: -400%;
}

#tag10:checked ~ .group {
    left: -100%;
    top: -400%;
}

// Change page
.left_arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 26.0px 15px 0;
    border-color: transparent #0e0f0f transparent transparent;
    position: absolute;
    left: 100px;
    bottom: 30px;
    display: none;
}

.right_arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 15px 26.0px;
    border-color: transparent transparent transparent #0e0f0f;
    position: absolute;
    right: 100px;
    bottom: 30px;
    display: none;
}

// Back to home
.backToTop {
    position: fixed;
    bottom: 12px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: #565252;
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    color: #fff;
    opacity: 1;

    .triangle {
        width: 10px;
        height: 10px;
        border-right: 3px solid;
        border-bottom: 3px solid;
        transform: rotate(225deg);
        margin: 15px auto auto;
        position: absolute;
        top: 6px;
        left: 19px;
    }

    & > div {
        transition: all 0.3s ease-in-out;

        &.text {
            text-transform: uppercase;
            font-weight: 900;
            font-size: 0.5rem;
            position: absolute;
            transform: translateY(50%) translateX(-50%);
            margin-top: 1px;
            left: 50%;
            top: 50%;
            opacity: 0;
        }
    }

    &:hover {
        transform: scale(1.1);
        bottom: 20px;
        cursor: pointer;
        background: darken(#222, 15%);
        box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);

        & > div {
            &.triangle {
                opacity: 0;
            }
            &.text {
                transform: translateY(-50%) translateX(-50%);
                opacity: 1;
            }
        }
    }
}

@media (min-width: 1201px) {
    #hexGrid {
        padding-bottom: 4.4%
    }
    .hex {
        width: 20%;
    }
    .hex:nth-child(9n+6) {
        margin-left: 10%;
    }
}

@media (max-width: 1200px) and (min-width: 901px) {
    #hexGrid {
        padding-bottom: 5.5%;
        font-size: 13px;
    }
    .hex {
        width: 25%;
    }
    .hex:nth-child(7n+5) {
        margin-left: 12.5%;
    }
}

@media (max-width: 900px) and (min-width: 601px) {
    #hexGrid {
        padding-bottom: 7.4%;
        font-size: 14px;
    }
    .hex {
        width: 33.333%;
    }
    .hex:nth-child(5n+4) {
        margin-left: 16.666%;
    }
}

@media screen and (max-width: 767px) {

    .mobileMenuBtn {
        width: 35px;
        height: 35px;
        border: 3px solid #f5f5f5;
        border-radius: 2px;
        position: absolute;
        top: 10px;
        left: 9px;

        span {
            width: 30px;
            height: 3px;
            background: #f5f5f5;
            position: absolute;
            top: 6px;
            left: 2.5px;
        }

        & :nth-child(2) {
            top: 16px;
        }

        & :last-child {
            top: 26px;
        }
    }

    .mobileMenu {
        display: flex;
        flex-wrap: wrap;
        width: 70%;
        left: -500px;
        text-align: left;
        background: #f5f5f5;

        & :nth-child(2) {
            margin-top: 45px;
        }

        & :last-child{
            padding-bottom: 100vh;
        }

        .close {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 32px;
            height: 32px;
            opacity: 0.3;

            &:before, &:after {
                position: absolute;
                left: 15px;
                content: ' ';
                height: 33px;
                width: 3px;
                background-color: #333;
            }

            &:before {
                transform: rotate(45deg);
            }

            &:after {
                transform: rotate(-45deg);
            }
        }

        label {
            width: 70%;
            height: 30px;
            padding: 6px 30px;
            color: #000;
        }

    }

    .group {

        .page {

            h1 {
                margin-top: 15px;
                font-size: 1.8rem;
            }

            .itemWrapper {

                flex-wrap: nowrap;

                .item {
                    width: 90%;
                    padding: 3%;
                    margin-top: -10px;
                    font-size: 1rem;

                    h2 {
                        font-size: 1.2rem;
                    }
                }

                .item2,
                .item4,
                .item6,
                .item8 {
                    display: none;
                }
            }
        }
    }

    .right_arrow {
        display: block;
    }
}

@media (max-width: 600px) {
    #hexGrid {
        padding-bottom: 11.2%;
        font-size: 12px;
    }
    .hex {
        width: 50%;
    }
    .hex:nth-child(3n+3) {
        margin-left: 25%;
    }
}

@media (max-width: 400px) {
    #hexGrid {
        font-size: 8px;
    }

}

// For js
.disable {
    pointer-events: none;
}