.loading {
    background: #008a7c;
    width: 100vw;
    height: 100vh;
    position: relative;
    color: #fff;
    text-align: center;
    z-index: 100;

    img {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    p {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -146px;
        margin-top: -111.5px;
        font-size: 1.2rem;
    }
}