.loading {
    background: #008a7c;
    width: 100vw;
    height: 100vh;
    position: relative;
    color: #fff;
    text-align: center;
    z-index: 100;

    img {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}