@import '~compass-mixins/lib/compass/_css3.scss';
@import '~compass-mixins/lib/_animate.scss';

@media (max-width: 600px) {

    .group {

        .page11 {

            .subTitle {
                font-size: 1.3rem;
            }
        }
    }

    .hex {
        width: 50%;
    }

    .hex:nth-child(3n+3) {
        margin-left: 25%;
    }
}

@media screen and (max-width: 767px) {

    .group {

        .page {

            h1 {
                margin-top: 15px;
                font-size: 1.8rem;
            }

            .itemWrapper {
                flex-wrap: wrap;

                .item {
                    width: 90%;
                    padding: 3%;
                    font-size: 1rem;
                    margin: -10px auto 20px;

                    h2 {
                        font-size: 1.2rem;
                    }
                }
            }

        }

        .page1 {

            .itemWrapper {

                .contact-item .jobTitle {
                    font-size: 1.3rem;
                }

                .autobiography-item .mobile {
                    width: 90%;
                    height: 500px;
                    padding-bottom: 0;

                    .chatBlock {
                        height: 50%;
                    }

                    .text {
                        float: none;
                    }
                }
            }
        }

        .page2 {

            .timeline {
                width: 90%;
                margin: -60px auto auto;

                .time_line-content {
                    margin-bottom: 10px;
                }
            }

            .time_line_vertical:before {
                left: 45px;
            }

            .time_line_vertical {

                .date_wrap {
                    margin-left: 35px !important;
                    margin-right: 35px !important;
                }

                .time_line-date {
                    padding: 0 !important;
                    right: 100% !important;
                    left: auto !important;
                    @include transform (rotate3d(0, 0, 1, -90deg) !important);
                }

                .time_line-content {
                    text-align: left !important;

                    &:before {
                        left: 0 !important;
                        right: auto !important;
                    }
                }

                .item,
                .time_line-content {
                    @include box-orient (horizontal !important);
                    @include box-direction (normal !important);
                    @include flex-direction (row !important);
                    flex-direction: row !important;
                }

                &.appear_anim {

                    .time_line-date {
                        @include transform (translateX(-20%) rotate3d(0, 0, 1, -90deg) !important);
                    }

                    .time_line-content {
                        @include transform (translateX(20%) !important);
                    }

                    .item.item_show {

                        .time_line-content {
                            @include transform (translateX(0) !important);
                        }

                        .time_line-date {
                            @include transform-origin (top);
                            @include transform (translate(15px, -9px) rotate3d(0, 0, 1, -90deg) !important);
                            width: 100px;
                            white-space: normal;
                        }
                    }
                }

                .item:hover .time_line-content {
                    @include transform (translateX(5px) !important);
                }

                .item.item_show:hover .time_line-content {
                    @include transform (translateX(5px) !important);
                }
            }
        }

        .page3 {

            .itemWrapper {

                .education-obj {
                    width: 100%;
                }

                .technique-obj {
                    width: 100%;

                    .technique-diagram {

                        .technique {
                            @include animation(none);
                        }
                    }

                }
            }
        }

        .page4 {

            .itemWrapper {

                .topArrow,
                .downArrow {
                    display: none;
                }
            }
        }

        .page5 {

            .subTitle {
                font-size: 1.3rem;
                margin: auto 15px 15px
            }

            #hexGrid {
                font-size: 0.7rem;
                padding-bottom: 20%;

                .desc {
                    font-size: 0.8rem;
                }
            }
        }
    }

    .backToTop {
        display: none;
    }
}

@media (min-width: 601px) and (max-width: 900px) {

    .group {
        .page2 .time_line_vertical .time_line-content {
            max-width: 300px;
        }
        .page11 #hexGrid {
            font-size: 0.8rem;
        }
    }

    .hex {
        width: 33.333%;
    }

    .hex:nth-child(5n+4) {
        margin-left: 16.666%;
    }
}

@media (min-width: 901px) and (max-width: 1200px) {

    .group {
        .page2 .time_line_vertical .time_line-content {
            max-width: 400px;
        }
    }

    .group .page11 #hexGrid {
        font-size: 0.9rem;
    }

    .hex {
        width: 25%;
    }

    .hex:nth-child(7n+5) {
        margin-left: 12.5%;
    }
}

@media screen and (max-width: 1250px) {

    .group {

        .page1 {
            .itemWrapper {
                .contact-item {
                    width: 60%;
                }

                .autobiography-item {
                    width: 60%;
                }
            }
        }

        .page2 {

            .timeline {
                margin-top: -70px;
            }

            .time_line_vertical {
                font-size: .8rem;

                .time_line-content {
                    max-width: 520px;

                    .title {
                        font-size: .8rem;
                    }
                }
            }
        }

        .page4 {
            .itemWrapper {
                .item {
                    max-height: 520px;

                    a {
                        font-size: .7rem;
                    }

                    p {
                        font-size: .9rem;
                    }
                }
            }
        }
    }

    .mobileMenuBtn {
        width: 35px;
        height: 35px;
        border: 3px solid #f5f5f5;
        @include border-radius (2px);
        position: absolute;
        top: 10px;
        left: 9px;
        z-index: 99;

        span {
            width: 30px;
            height: 3px;
            background: #f5f5f5;
            position: absolute;
            top: 6px;
            left: 2.5px;
        }

        & :nth-child(2) {
            top: 16px;
        }

        & :last-child {
            top: 26px;
        }
    }

    .mobileMenu {
        display: flex;
        flex-wrap: wrap;
        width: 70%;
        left: -1000px;
        text-align: left;
        background: #f5f5f5;
        z-index: 101;

        & :nth-child(2) {
            margin-top: 45px;
        }

        & :last-child {
            padding-bottom: 100vh;
        }

        .close {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 32px;
            height: 32px;
            opacity: 0.3;

            &:before, &:after {
                position: absolute;
                left: 15px;
                content: ' ';
                height: 33px;
                width: 3px;
                background-color: #333;
            }

            &:before {
                @include transform (rotate(45deg));
            }

            &:after {
                @include transform (rotate(-45deg));
            }
        }

        label {
            width: 70%;
            height: 30px;
            padding: 6px 30px;
            color: #000;
            @include text-shadow (none);

            a {
                color: #000;
            }
        }

    }
}

@media screen and (max-width: 1440px) {
    .group {

        .page1 {
            .itemWrapper {
                .contact-item {
                    max-height: 600px;
                    width: 96%;
                }
                .autobiography-item {
                    width: 100%;
                }
            }
        }

        .page2 {

            .timeline {
                margin-top: -80px;
            }

            .time_line_vertical {
                font-size: .9rem;

                .time_line-content {
                    max-width: 580px;

                    .title {
                        font-size: .9rem;
                    }
                }

                .date_wrap {
                    margin-right: 25px;
                }
            }
        }

        .page3 .itemWrapper {
            .education-obj{
                .timeline-event-copy{
                    font-size: .8rem;
                    margin: 2px 10px 0;
                    top: 0.125em
                }

                .timeline-event-icon{
                    top:.68em;
                }
            }

            .technique-obj {
                width: 100%;
                margin: 0;
            }
        }

    }
}

@media (min-width: 1201px) {

    .hex {
        width: 20%;
    }

    .hex:nth-child(9n+6) {
        margin-left: 10%;
    }
}
