@import '~compass-mixins/lib/compass/_css3.scss';
@import '~compass-mixins/lib/_animate.scss';

.group {

    .page {
        overflow-y: hidden;
    }

    .page4 {
        position: relative;

        .itemWrapper {
            flex-wrap: wrap;

            .item {
                width: 30%;

                &.item2 {

                    #title2 {
                        margin-top: -10px;
                    }
                }

                a {
                    font-size: .9rem;
                }

                p {
                    font-size: 1rem;
                }

                &.item11 {

                    img {
                        width: 75%;
                    }
                }

                &.item12 {

                    img {
                        width: 85%;
                    }
                }
            }
        }
    }
}