@import '~compass-mixins/lib/compass/_css3.scss';
@import '~compass-mixins/lib/_animate.scss';

.group {

    .page2 {

        .timeline {
            margin-top: -40px;
        }

        .row-animation {
            position: relative;
            z-index: 1;

            .column {
                position: relative;
                z-index: 2;
            }

            .wgl-row_background {
                position: absolute;
                z-index: -1;
                top: 50%;
                left: 70%;
                @include transform(translate(-50%, -50%));
            }
        }

        .time_line_vertical {
            position: relative;
            z-index: 1;
            padding: 70px 0;

            &:before {
                content: '';
                position: absolute;
                z-index: -1;
                height: 90%;
                width: 2px;
                left: 50%;
                margin-left: -1px;
                @include background (linear-gradient(top, transparent 0%, rgba(63, 71, 103, 0.15) 100px, rgba(63, 71, 103, 0.15) calc(100% - 100px), transparent 100%));
            }

            .item {
                display: flex;
                align-items: center;
                @include transition (opacity 0.5s);

                &:last-child {
                    margin-bottom: 0;
                }

                &:nth-child(even) {
                    @include box-orient (horizontal);
                    @include box-direction (reverse);
                    @include flex-direction (row-reverse);
                    flex-direction: row-reverse;

                    .date_wrap {
                        margin-right: -webkit-calc(50% - 10px);
                        margin-right: -moz-calc(50% - 10px);
                        margin-right: calc(50% - 10px);
                        margin-left: 50px;
                    }

                    .time_line-date {
                        right: auto;
                        left: 100%;
                        padding-left: 50px;
                        padding-right: 0;
                    }

                    .time_line-image {
                        left: 0;
                        right: auto;
                    }

                    .time_line-content:before {
                        left: auto;
                        right: 0;
                    }
                }
            }

            .date_wrap {
                position: relative;
                z-index: 1;
                margin-left: calc(50% - 10px);
                margin-right: 50px;
            }

            .hexagon {
                height: 22px;
                width: 20px;
                transition: opacity 0.8s;
                position: absolute;
                top: 0;
                z-index: -1;

                &:first-child {
                    position: relative;
                    z-index: 0;
                }

                &:nth-child(2) svg {
                    fill: #ffffff !important;
                }
            }

            .time_line-date {
                position: absolute;
                z-index: 1;
                top: 0;
                right: 100%;
                padding-right: 50px;
                font-size: 24px;
                font-weight: 700;
                line-height: 20px;
                white-space: nowrap;
                @include transition (0.3s);
            }

            .time_line-content {
                position: relative;
                z-index: 1;
                padding: 20px;
                width: 100%;
                max-width: 650px;
                @include box-shadow (7px 5px 30px 0 rgba(72, 73, 121, 0.15));
                border-radius: 4px;
                background: #ffffff;
                overflow: hidden;
                @include transition (0.4s);

                &:before {
                    content: '';
                    position: absolute;
                    z-index: 1;
                    width: 4px;
                    height: 100%;
                    left: 0;
                    top: 0;
                }
            }

            .time_line-image {
                position: absolute;
                z-index: -1;
                right: 0;
                top: 0;
            }

            .title {
                font-size: 1rem;
                margin: auto auto 10px;
            }

            .desc {
                line-height: 24px;
            }

            &.appear_anim {
                .item {
                    .time_line-date {
                        @include transform (translateX(-20%));
                        @include opacity (0);
                    }

                    .hexagon {
                        @include opacity (0);
                    }

                    .time_line-content {
                        @include transform (translateX(20%));
                        @include opacity (0);
                    }

                    &:nth-child(even) {

                        .time_line-date {
                            @include transform (translateX(20%));
                        }

                        .time_line-content {
                            @include transform (translateX(-20%));
                        }
                    }

                }
            }
        }

        .time_line_vertical .item {

            &.item_show {
                .time_line-content {
                    @include opacity(1);
                    @include transform(translateX(0));
                }

                &:nth-child(even) {
                    .time_line-content {
                        @include opacity(1);
                        @include transform(translateX(0));
                    }

                    .hexagon {
                        @include opacity(1);
                    }

                    .time_line-date {
                        @include opacity(1);
                        @include transform(translateX(0));
                    }
                }

                .hexagon {
                    @include opacity(1);
                }

                .time_line-date {
                    @include opacity(1);
                    @include transform(translateX(0));
                }
            }

            &.item_active .hexagon:nth-child(2) {
                @include transform(scale(2));
            }

            &:hover {
                .time_line-content {
                    @include transform(translateX(5px));
                    background: #fff;
                }
                .time_line-date {
                    @include transform(translateX(-5px));
                }
                &:nth-child(even) {
                    .time_line-content {
                        @include transform(translateX(-5px));
                    }
                    .time_line-date {
                        @include transform(translateX(5px));
                    }
                }
                &.item_active .hexagon:nth-child(2) {
                    @include animation(pulse_hexagon_active 2s infinite);
                }
                .hexagon:nth-child(2) {
                    @include animation(pulse_hexagon 2s infinite);
                }
            }

        }

        @keyframes pulse_hexagon {
            0% {
                @include transform (scale(1));
            }
            70% {
                @include transform (scale(2));
            }
            100% {
                @include transform (scale(1));
            }
        }

        @keyframes pulse_hexagon_active {
            0% {
                @include transform (scale(2));
            }
            30% {
                @include transform (scale(1));
            }
            100% {
                @include transform (scale(2));
            }
        }

        #time_line_1 {

            .time_line-date {
                color: #ffa705;
            }

            .time_line-content:before {
                background: #ffa705;
            }
        }

        #time_line_2 {

            .time_line-date {
                color: #ff5600;
            }

            .time_line-content:before {
                background: #ff5600;
            }
        }

        #time_line_3 {

            .time_line-date {
                color: #69e9f2;
            }

            .time_line-content:before {
                background: #69e9f2;
            }
        }

        #time_line_4 {

            .time_line-date {
                color: #12affe;
            }

            .time_line-content:before {
                background: #12affe;
            }
        }

        .mark {
            color: #c11818;
            font-weight: 600;
        }
    }
}